<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form action="#" th:action="@{/seeHistory}" method="get">
    <p><input type="submit" class="button" value="See Past Consultations" name="seeHistory" />
</form>

<form action="#" th:action="@{/addConsultationDescription}" method="get">
    <p><input type="submit" class="button" value="Add Consultation Details" name="addConsultationDescription" />
</form>


</body>
</html>