<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form action="#" th:action="@{/createPatient}" method="get">
    <p><input type="submit" class="button" value="Add patient" name="addPatient" />
</form>

<form action="#" th:action="@{/updatePatient}" method="get">
    <p><input type="submit" class="button" value="Update Patient" name="updatePatient" />
</form>

<form action="#" th:action="@{/findPatient}" method="get">
    <p><input type="submit" class="button" value="Find Patient" name="findPatient" />
</form>

<form action="#" th:action="@{/makeAppointment}" method="get">
    <p><input type="submit" class="button" value="Make an Appointment" name="makeAppointment" />
</form>


</body>
</html>